@import "tailwindcss" theme(static);
@import "@nuxt/ui";

@theme static {
  --font-family-sans: 'Open Sans', sans-serif;
}

:root {
  --ui-header-height: calc(var(--spacing) * 16);
  --ui-footer-height: calc(var(--spacing) * 16);
  --ui-player-height: calc(var(--spacing) * 16);

  --ui-text: var(--color-black);
  --ui-bg: var(--color-neutral-50);

  --ui-radius: var(--radius-sm);
}

.dark {
  --ui-text: var(--color-white);
  --ui-bg: var(--color-neutral-950);
}
